/////////////////////////////////////////
// Variables
// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

/////////////////////////////////////////
// Mixins
@mixin square($len) {
    height: $len;
    width: $len;
}

@mixin circle($len) {
    height: $len;
    width: $len;
    border-radius: 50%;
}

/////////////////////////////////////////
// Base Styling

// Reset
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

// Core Styling
html {
    background: #eee;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}

input {
    // input tags doesn't inherit font-family neither the font-size of the global document.
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

// Container
.container {
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80vh repeat(5, min-content);
    grid-template-columns: [main-start] minmax(60px, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 140px) [col-end]) [center-end] minmax(60px, 1fr) [main-end];
}