.features {
    grid-column: center-start / center-end;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr)); // Changing columns without media queries
    margin: 100px 0;
    grid-gap: 60px;
    align-items: start;

    @media screen and (max-width: 600px) {
        margin: 50px 0;
    }
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    &__icon {
        fill: $color-primary;
        @include square(45px);
        grid-row: 1 / span 2;
        transform: translateY(-25%);
    }

    &__text {
        font-size: 17px;
    }
}