.header {
    position: relative;
    background: rgba($color-secondary, .9);
    grid-column: main-start / col-end 6;
    background: linear-gradient(rgba($color-secondary, .9), rgba($color-secondary, .9)),
                url(../img/hero.jpeg) no-repeat center center / cover;
    padding: 0 5% 8% 5%;
    display: grid;
    grid-template-rows: 1fr;
    // align-items: center;

    &__lead {
        align-self: center;
        transform: translateY(25%);
        .heading-3 {
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        .heading-1 {
            margin-bottom: 1rem;
        }
    }

    &__seenon {
        &-text {
            display: grid;
            color: $color-grey-light-2;
            grid-template-columns: 1fr max-content 1fr;
            column-gap: 1rem;
            align-items: center;
            margin-bottom: 1rem;

            &::before, &::after {
                content: "";
                height: 1px;
                display: block;
                background: currentColor;
                width: 85%;
            }

            &::before {
                justify-self: end;
            }

            &::after {
                justify-self: start;
            }
        }
        &-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            justify-items: center;
            img {
                height: 30px;
                width: auto;
                filter: brightness(75%);

                @media screen and (max-width: 1000px) {
                    height: 25px;
                }
            }
        }
    }
}