.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1rem .6rem 1rem;
    background: rgba($color-secondary, .2);
}

.logo {
    &__link {
        display: inline-block;
        width: 150px;
        line-height: 0;
    }
}

.navigation {
    display: flex;
    
    &__link {
        font-family: $font-display;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0 1rem;
        &:hover {
            color: $color-primary;
        }
    }
}