// General typography
body {
    font-family: $font-primary;
    line-height: 1.4;
    color: $color-grey-dark-2;
    font-weight: 300;
}

// Headings
h1, h2, h3, h4 {
    font-family: $font-display;
    font-weight: 400;
    line-height: 1;
}

@mixin heading-clrs {
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
    &--primary { color: $color-primary; }
}

.heading-1 {
    font-size: 3.5rem;
    @include heading-clrs;
}

.heading-2 {
    font-size: 40px;
    @include heading-clrs;
}

.heading-3 {
    @include heading-clrs;
}

.heading-4 {
    font-size: 20px;
    @include heading-clrs;
}

// Buttons
.btn {
    display: inline-block;
    background: $color-primary;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: $font-display;
    font-size: 17px;
    font-weight: 400;
    transition: background .2s;

    &:hover {
        background: $color-primary-dark;
    }

    &-transparent {
        background: transparent;
        border: 2px #fff solid;
        padding: 10px 13px;
        font-weight: 400;
        font-size: 14px; 
        line-height: 0;   

        &:hover {
            border-color: $color-primary;
            background: $color-primary;
        }
    }
}

// SVG Icons
.svg-icon {
    @include square(25px);
}